$primary: #ffffff;
$primaryVariant: #00171f;
$secondary: #00a8e8;
$background: #353535;
$backgroundVariant: #3F3D56;
$backgroundVariant2:#292929;
@import url(https://fonts.googleapis.com/css?family=Montserrat|Plus+Jakarta+Sans|Caveat);

*{
    margin: 0;
    padding: 0;
}